
@{
    ViewBag.Title = "AdvertDetail";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class=" panel col-md-12">  
        <div class="panel-body">

            <div class="col-md-6">
        
            </div>

        </div>
</div>