
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!-- Team -->
<div class="team container-fluid no-padding">
    <div class="section-padding"></div>
    <!-- Container -->
    <div class="container">
        <div class="section-header">
            <h3>Güncel Sahiplendirme İlanları</h3>
            <p> <b style="    color: #1377c5;
    font-size: 15px;">Bir kedim bile yok Demeyin Hadi Sahiplenin</b></p>
        </div>

        <div class="row">
            <div class="team-thumb">
                @foreach (HadiSahiplen.Models.Tbl_Advert_Vİew Adverts in ViewBag.Adverts)
                {
             
                    <div class="team-member" style="max-width:300px;">
                        <div class="team-image-box">
                            <img src="~/Images/AdvertsPP/@Adverts.Advert_ProfilePhoto" alt="Team Member" style="height:380px;">
                            <div class="team-content"><h3><b>@Adverts.Pet_Name</b><span>@Adverts.Pet_Kind</span><span>@Adverts.City/@Adverts.District</span></h3></div>

                        </div>
                        <div class="team-social-icon">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
   

                }
            </div>
        </div>
    </div><!-- Container /- -->
    <div class="section-padding"></div>
</div><!-- Team /- -->
