
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Layout</title>
    <link rel="icon" type="image/x-icon" href="~/Images/Logo/favicon.png" />


    <!-- Library - Loader CSS -->

    <link href="~/libraries/loader/loaders.min.css" rel="stylesheet" />


    <link href="~/libraries/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/libraries/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/libraries/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/libraries/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/libraries/animate/animate.min.css" rel="stylesheet" />
    <link href="~/libraries/price-filter/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/libraries/navigation-menu.css" rel="stylesheet" />
    <link href="~/libraries/plugins.css" rel="stylesheet" />
    <link href="~/libraries/shortcodes.css" rel="stylesheet" />
    <link href="~/libraries/style.css" rel="stylesheet" />
    <link href="~/Content/Side.css" rel="stylesheet" />

</head>
<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
    <div id="site-loader" class="load-complete">
        <div class="loader">
            <div class="loader-inner ball-clip-rotate">
                <div></div>
            </div>
        </div>
    </div><!-- Loader /- -->
    <a id="top"></a>

    <div class="main-container">
        <header class="header-main">
            <!-- Top Header -->
            <div class="top-header container-fluid no-padding">
                <div class="col-md-4 col-sm-4 col-xs-4 no-padding color-red"></div>
                <div class="col-md-4 col-sm-4 col-xs-4 no-padding color-green"></div>
                <div class="col-md-4 col-sm-4 col-xs-4 no-padding color-yellow"></div>
                <!-- Container -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <p>Leave A Message: <a href="mailto:info@petcare.com">info@petcare.com</a></p>
                        </div>
                        <div class="social col-md-4 col-sm-4 col-xs-6 pull-right">
                            <ul class="no-bottom-margin">
                                <li><a href="#"><img src="/Images/icon/tw-ic.png" alt="Twitter" /></a></li>
                                <li><a href="#"><img src="/Images/icon/fb-ic.png" alt="Facebook" /></a></li>
                                <li><a href="#"><img src="/Images/icon/dribbble-ic.png" alt="dribbler" /></a></li>
                                <li><a href="#"><img src="/Images/icon/in-ic.png" alt="In" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- container /- -->
            </div><!-- Top Header /- -->
            <!-- Logo Block -->
            <div class="middle-header container-fluid no-padding">
                <!-- Container -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 logo-block pull-left">
                            <a href="#">
                                <img src="~/Images/Logo/logo.png" alt="Logo" />
                            </a>
                        </div>

                        <div class="col-md-9 pull-right">
                            <input type="button" class="btn btn-danger" value="Üye Ol" id="signup_ID" />
                            <input type="button" class="btn btn-warning" value="Giriş Yap" />
                        </div>

                    </div>
                </div><!-- Container /- -->
            </div><!-- Logo Block /- -->
            <nav class="navbar ow-navigation">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand logo-block">
                                <a href="#">
                                    <img src="~/Images/Logo/logo.png" alt="Logo" />
                                </a>
                            </div>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li class="dropdown">
                                    <a href="shop.html" title="product list" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                                    <i class="ddl-switch fa fa-angle-down"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop-pets.html">Pets List</a></li>
                                        <li><a href="shop-details.html">Product Details</a></li>
                                        <li><a href="checkout.html">Place Order</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" title="Pages" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <i class="ddl-switch fa fa-angle-down"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="error.html">Error</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="blog.html" title="Blog" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                    <i class="ddl-switch fa fa-angle-down"></i>
                                    <ul class="dropdown-menu">
                                        <li><a href="single-blog.html">Single Blog</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Contact US</a></li>
                            </ul>
                        </div>
                        <a href="Adverts">Yuva Arayan Hayvanlar</a>
                    </div>
                </div>
            </nav>
        </header><!-- Header /- -->

        @RenderBody()


    </div>
    <footer class="footer-main">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <aside class="widget widget-about">
                        <h3 class="widget-title">about Us</h3>
                        <p>Hello we are Comre. We are here to provide you the best offers through our coupons. Hello we are company.</p>
                        <ul>
                            <li><img src="/Images/icon/ftr-location.png" alt="Address" />Washington Square Park, <span>NY, United States</span></li>
                            <li><img src="/Images/icon/ftr-customer.png" alt="Phone" /> Customer Support : <span>+ 124 45 76 678</span></li>
                            <li><img src="/Images/icon/ftr-email.png" alt="Mail" /><span>Email :</span><a href="mailto:mail@woodsman.com"> mail@woodsman.com</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-4 col-sm-6">
                    <aside class="widget widget-links">
                        <h3 class="widget-title">Working Time</h3>
                        <ul>
                            <li>Monday <span>08:00 am  -  10:00 pm</span></li>
                            <li>tuesday <span>08:00 am  -  10:00 pm</span></li>
                            <li>wednesday <span>08:00 am  -  10:00 pm</span></li>
                            <li>thursday <span>08:00 am  -  10:00 pm</span></li>
                            <li>friday <span>08:00 am  -  10:00 pm</span></li>
                            <li>Week End <span>CloSed</span></li>
                            <li>Emergency Unit <span>Open Any Time</span></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-4 col-sm-6">
                    <aside class="widget widget-subscribe">
                        <div class="subscribe-box">
                            <h4>Subscribe To Mail!</h4>
                            <p>Get our Daily email n.ewsletter with Special Services, Updates, Offers and more</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">SignUp</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <ul>
                            <li><a href="#"><img src="/Images/icon/ftr-fb.png" alt="ftr" /></a></li>

                            <li><a href="#"><img src="/Images/icon/ftr-tumbler.png" alt="ftr" /></a></li>
                            <li><a href="#"><img src="/Images/icon/ftr-dribbble.png" alt="ftr" /></a></li>
                            <li><a href="#"><img src="/Images/icon/ftr-ln.png" alt="ftr" /></a></li>
                            <li><a href="#"><img src="/Images/icon/ftr-tw.png" alt="ftr" /></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div><!-- Container /- -->
        <div class="bottom-footer container-fluid no-padding">
            <div class="container">
                <div class="row">
                    <ul class="col-md-5 pull-left">
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Client Support</a></li>
                    </ul>

                    <div class="col-md-7 pull-right">
                        <p class="copyright">copyrights &copy; 2015 Mice Cab. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/libraries/modernizr/modernizr.js"></script>
    <script src="~/libraries/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/libraries/appear/jquery.appear.js"></script>
    <script src="~/libraries/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/libraries/number/jquery.animateNumber.min.js"></script>
    <script src="~/libraries/price-filter/jquery-ui.min.js"></script>
    <script src="~/Scripts/functions.js"></script>
    <script src="~/Scripts/Side.js"></script>
</body>
</html>


<div class="modal modal-info fade" id="modal-info_Delete" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_Delete">
                    Değişiklik olmayacaktır!
                </h5>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-block btn-outline" type="button" id="btnContinue" data-dismiss="modal">Evet</button>
                <button class="btn btn-block btn-outline" type="button" id="btnNO" data-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>



<div class="modal modal-info fade" id="modal-info_Validate" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Bilgilendirme
                </h5>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-block btn-outline" type="button" id="btnOK" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-info fade" id="modal-info_signup" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#1377c5;color:white; text-align:center">
                <h5 class="modal-title">
                    Üye Ol
                </h5>
            </div>

            <div class="modal-body col-md-6">
                <i class="modal_Input">Adınız : </i><br /><input type="text" class="modal_Input" placeholder="İsminizi Girin" id="İnput_Name_ID" /><br />
                <i class="modal_Input">Soyadınız : </i><br /> <input type="text" class="modal_Input" placeholder="Soyadınızı Girin" id="İnput_Surname_ID" /><br />
                <i class="modal_Input">E-posta Adresiniz :</i><br />  <input type="text" class="modal_Input" placeholder="E-posta Adresinizi Girin" id="İnput_Name_ID" /><br>
                <i>Parola : </i><br /> <input type="text" class="modal_Input" placeholder="Parolanızı Girin" id="İnput_Name_ID" />
            </div>
            <div class="col-md-6">
                <img src="~/Images/Logo/Gift_dog.png" />
            </div><hr />
            <div class="">


                <div class="form-group">
                   
                    <label style="margin-left:30px;">
                        <input type="checkbox" />   <label  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-decoration:underline;">  Kişisel Verilerin İşlenmesi Aydınlatma Metni'ni okudum,onaylıyorum</label>
                    </label>
                </div>
                <div id="collapseOne" aria-expanded="false" class="collapse">
                    <div class="well">
                        KVK TEKNOLOJİ ÜRÜNLERİ VE TİC. A.Ş.KİŞİSEL VERİLERİN İŞLENMESİ AYDINLATMA METNİ
                        KVK Teknoloji Ürünleri ve Tic. A.Ş. ("Şirket") olarak kişisel verilerinizin güvenliği hususuna azami hassasiyet göstermekteyiz. Bu bilinçle, Şirket olarak ürün ve HİZMETLERİMİZDEN faydalanan kişiler dahil, Şirket ile ilişkili tüm şahıslara ait her türlü kişisel verilerin 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK Kanunu”)’na uygun olarak işlenerek, muhafaza edilmesine büyük önem atfetmekteyiz. Bu sorumluluğumuzun tam idraki ile KVKK Kanunu’nda tanımlı şekli ile “Veri Sorumlusu” sıfatıyla, kişisel verilerinizi aşağıda izah edildiği surette ve mevzuat tarafından emredilen sınırlar çerçevesinde işlemekteyiz.

                        1. Kişisel Verilerin Toplanması, İşlenmesi ve İşleme Amaçları
                        Kişisel verileriniz, Şirketimiz tarafından sağlanan hizmet ve Şirketimizin ticari faaliyetlerine bağlı olarak değişkenlik gösterebilmekle birlikte; otomatik ya da otomatik olmayan yöntemlerle, Şirketimiz birimleri ve ofisler, Topluluk Şirketleri, internet sitesi, sosyal medya mecraları, mobil uygulamalar ve benzeri vasıtalarla sözlü, yazılı ya da elektronik olarak toplanabilecektir. Şirketimiz ve Topluluk Şirketlerimizin sunduğu ürün ve hizmetlerden yararlandığınız müddetçe oluşturularak ve güncellenerek kişisel verileriniz işlenebilecektir. Ayrıca, Şirket veya Topluluk Şirketlerimizin hizmetlerini kullanmak amacıyla çağrı merkezlerimizi veya internet sayfamızı kullandığınızda, Şirketimizi veya internet sitemizi ziyaret ettiğinizde, Şirketimizin düzenlediği eğitim, seminer veya organizasyonlara katıldığınızda kişisel verileriniz işlenebilecektir. Toplanan kişisel verileriniz, Şirketimiz ve Topluluk Şirketlerimiz tarafından sunulan ürün ve hizmetlerden sizleri faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından yapılması, Şirketimiz ve Topluluk Şirketlerimiz tarafından sunulan ürün ve hizmetlerin sizlerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek sizlere önerilmesi, Şirketimizin, Topluluk Şirketlerimizin ve Şirketimizle iş ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin temini (Şirketimiz tarafından yürütülen iletişime yönelik idari operasyonlar, Şirkete ait lokasyonların fiziksel güvenliğini ve denetimini sağlamak, Topluluk Şirketleri müşterileri değerlendirme/şikayet yönetimi süreçleri, itibar araştırma süreçleri, etkinlik yönetimi, hukuki uyum süreci, denetim, mali işler v.b.), Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve uygulanması ve Şirketimizin insan kaynakları politikalarının yürütülmesinin temini amaçlarıyla KVKK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenecektir.

                        2. İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği
                        Toplanan kişisel verileriniz; Şirketimiz ve Topluluk Şirketlerimiz tarafından sunulan ürün ve hizmetlerden sizleri faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından yapılması, Şirketimiz ve Topluluk Şirketlerimiz tarafından sunulan ürün ve hizmetlerin sizlerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek sizlere önerilmesi, Şirketimizin, Topluluk Şirketlerimizin ve Şirketimizle iş ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin temini (Şirketimiz tarafından yürütülen iletişime yönelik idari operasyonlar, Şirkete ait lokasyonların fiziksel güvenliğini ve denetimini sağlamak, iş ortağı/müşteri/tedarikçi (yetkili veya çalışanları) değerlendirme süreçleri, itibar araştırma süreçleri, hukuki uyum süreci, denetim, mali işler v.b.), Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve uygulanması ile Şirketimizin insan kaynakları politikalarının yürütülmesinin temini amaçlarıyla iş ortaklarımıza, tedarikçilerimize, Topluluk Şirketlerine, Şirket yetkililerine, hissedarlarımıza, kanunen yetkili kamu kurumları ve özel kişilere, KVKK Kanunu’nun 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilecektir.

                        3. Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi
                        Kişisel verileriniz, her türlü sözlü, yazılı ya da elektronik ortamda, yukarıda yer verilen amaçlar doğrultusunda Şirketçe sunduğumuz ürün ve hizmetlerin belirlenen yasal çerçevede sunulabilmesi ve bu kapsamda Şirketimizin sözleşme ve yasadan doğan mesuliyetlerini eksiksiz ve doğru bir şekilde yerine getirebilmesi gayesi ile edinilir. Bu hukuki sebeple toplanan kişisel verileriniz KVKK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında bu metnin (1) ve (2) numaralı maddelerinde belirtilen amaçlarla da işlenebilmekte ve aktarılabilmektedir.

                        4. Kişisel Veri Sahibinin KVKK Kanunu’nun 11. maddesinde Sayılan Hakları
                        Kişisel veri sahipleri olarak, haklarınıza ilişkin taleplerinizi, işbu Aydınlatma Metni’nde aşağıda düzenlenen yöntemlerle Şirketimize iletmeniz durumunda Şirketimiz talebin niteliğine göre talebi en geç otuz gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, Kişisel Verileri Koruma Kurulunca bir ücret öngörülmesi halinde, Şirketimiz tarafından belirlenen tarifedeki ücret alınacaktır. Bu kapsamda kişisel veri sahipleri;

                        Kişisel veri işlenip işlenmediğini öğrenme,
                        Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                        Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                        Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                        Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        KVKK Kanunu’nun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                        Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.
                        KVKK Kanunu’nun 13. maddesinin 1. fıkrası gereğince, yukarıda belirtilen haklarınızı kullanmak ile ilgili talebinizi, yazılı veya Kişisel Verileri Koruma Kurulu’nun belirlediği diğer yöntemlerle Şirketimize iletebilirsiniz. Kişisel Verileri Koruma Kurulu, şu aşamada herhangi bir yöntem belirlemediği için, başvurunuzu, KVKK Kanunu gereğince, yazılı olarak Şirketimize iletmeniz gerekmektedir. Bu çerçevede Şirketimize KVK Kanunu’nun 11. maddesi kapsamında yapacağınız başvurularda yazılı olarak başvurunuzu ileteceğiniz kanallar ve usuller aşağıda açıklanmaktadır. Yukarıda belirtilen haklarınızı kullanmak için kimliğinizi tespit edici gerekli bilgiler ile KVKK Kanunu’nun 11. maddesinde belirtilen haklardan kullanmayı talep ettiğiniz hakkınıza yönelik açıklamalarınızı içeren talebinizi; www.kvk.com.tr adresindeki formu doldurarak, formun imzalı bir nüshasını Bayar Cad. Gülbahar Sok. KVK Plaza No: 14 Kozyatağı Kadıköy İstanbul adresine kimliğinizi tespit edici belgeler ile bizzat elden iletebilir, noter kanalıyla veya KVKK Kanunu’nda belirtilen diğer yöntemler ile gönderebilir veya ilgili formu kvk@hs01.kep.tr adresine güvenli elektronik imzalı olarak iletebilirsiniz.
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-block btn-outline" style="background-color:#1377c5;color:white;" type="button" id="btnSignUp_ID" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>